* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background: #f6f6f6;*/
  /*color: #555;*/
  /*border: solid red 1px;*/
}

body {
  background: #f6f6f6;
  color: #555;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Slabo 27px', serif;*/
}

.header {
  /*position: fixed;*/
  top: 0;
  width: 100%;
  background: #333;
  color: #fff;
}

.nav-container {
  /*position: fixed;*/
/*  top: 0;
  height: 100px;
  width: 100%;*/
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 50px 0 50px 0;
}

.logo {
  text-align: center;
  font-weight: 100;
}

.reply {
  list-style: none;
  margin: 5px 10px;
  color: #555;
}

.active {
  background: #ff4d62;
}

.replies {
  padding-left: 20px;
}

.has-reply {
  color: #ff4d62;
}