* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ccc;
  color: #555;
}

body {
  font: 13px Helvetica, Arial;
}

header {
  position: fixed;
  top: 0;
  width: 100%;  
}

form {
  background: #555; 
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  widows: 90%;
  margin-right: .5%;
  background: #fff;
}

form button {
  /*width: 9%;*/
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#message {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  border-bottom: 2px dotted #fff;
}

/*#messages li:nth-child(odd) {
  background: #eee;
}*/

.active {
  background: #ff4d62;
}

.replies {
  padding-left: 20px;
}

.has-reply {
  color: #ff4d62;
}